<<<<<<< HEAD
<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb
=======
Account Profile 

<%= bootstrap_form_for(@user) do |f| %>
	<%= f.text_field :firstname %>
 	<%= f.text_field :lastname %>
	<%= f.email_field :email %>
	<%= f.password_field :password %>
	<%= f.radio_button :female :male %>
	<%= f.text_field :city %>
	<%= f.text_field :state %>
	<%= f.text_field :country %>
	<%= f.text_area :description %>

	<%= f.submit "Save" %>
<% end %>
>>>>>>> 66c7b314cb4fa30ee8f4df6eda9b93e98da018ff
