<div class="jumbotron" id="static">
  <div class="container">
    <div class="form">

      <%= bootstrap_form_for @user do |f| %>
          <div>
<<<<<<< HEAD
            <%= f.text_field :first_name, placeholder: "First name" %>
          </div>
          <div>
            <%= f.text_field :last_name, placeholder: "Last Name" %>
          </div>
          <div>
          <%= f.text_field :email, placeholder: "Email" %>
          </div>
          <div>
            <%= f.text_field :password, placeholder: "Password" %>
          </div>

          <div>
            <%= f.text_field :password_confirmation, placeholder: "Password confirmation" %>
          </div>

          <div>
            <%= f.text_field :city, placeholder: "City" %>
          </div>  

          <div>
            <%= f.text_field :state, placeholder: "State" %>
          </div>  


         <div>
            <%= f.submit %>
=======
          <%= f.text_field :email, placeholder: "Email" %>
          </div>
          <div>
            <%= f.password_field :password, placeholder: "Password" %>
          </div>

          <div>
            <%= f.password_field :password, placeholder: "Confirm Password" %>
          </div>

          <div>
            <%= f.submit "Signup"%>
>>>>>>> 66c7b314cb4fa30ee8f4df6eda9b93e98da018ff
          </div>
      <% end %>
    
    </div>
  </div>
</div>
      