<div class="jumbotron" id="static">
  <div class="container">
    <div class="form">

      <%= bootstrap_form_for @user do |f| %>
          <div>
            <%= f.text_field :first_name, placeholder: "First Name" %>
          </div>
          <div>
            <%= f.text_field :last_name, placeholder: "Last Name" %>
          </div>
          <div>
          <%= f.text_field :email, placeholder: "Email" %>
          </div>
          <div>
            <%= f.text_field :password, placeholder: "Password" %>
          </div>
          <div>
            <%= f.text_field :password_confirmation, placeholder: "Confirm Password" %>
          </div>
          <div>
            <%= f.text_field :city, placeholder: "City" %>
          </div>  
          <div>
            <%= f.text_field :state, placeholder: "State" %>
          </div>  
          <div>
            <%= f.text_field :country, placeholder: "Country" %>
          </div> 
          <div>
            <%= f.submit "Signup"%>
          </div>
      <% end %>
    
    </div>
  </div>
</div>
      