<div class="jumbotron" id="static">
  <div class="container" id="results">

    <div class="row">
      <div class="col-xs-2">
         <%= render partial: "site/filters_section", locals: {cuisines:@cuisines} %>
      </div>

      <div class="col-xs-10" >
        <div class="row" style="margin: 0 auto; display:table-cell" id="recipes-container" >
            <%= render partial: "site/recipe", locals: {recipes:@recipes} %>
        </div>
      </div>
    </div>

  </div>
</div>       

              
<%= javascript_tag do %>

$( document ).ready(function() {
  var $container = $("#recipes-container");

  var showRecipes = function() {
    $("#recipes-container").append("<%= escape_javascript render(:partial =>'site/recipe', :locals => { recipes:@recipes})%>");
  };


  $('.filter_button').hover(
  function() {
    $(this).toggleClass("filter-button")
    
  }, function() {
    $(this).toggleClass("filter-button")
  }
  );

  $('.filter_button').on("click", function (event) {
      event.preventDefault();
      $.ajax({
        type: "POST",
        url: "/site/sandbox.json",
        data: {recipes:<%= raw @recipes.to_json %>},
        success: function(recipes)
        {
          $container.empty();
          setTimeout(showRecipes, 1000);
        },
        dataType: "json"
      });
    });
});




<% end %>

