<!-- NOTE: -->
<!-- we need to refactor this section to be part of layouts/application 
and we need to add the scripts/css files to the asset pipeline -->


<div class="jumbotron" id="static">
  <div class="container" id="results">

      <div class="col-md-4" id="filters">
        <div class="form-group">
            <label>Cuisine(s):</label>
            <% @cuisines.each do | cuisine | %><br>
              <label class="">
                  <input type="checkbox" id="<%= cuisine %>" value="<%= cuisine %>" class="filter_button"> <%= cuisine %>
              </label>
            <% end %>      
        </div>
      </div>

      <div class="col-md-8">
      	<% @recipes.each do |recipe| %>
      		<div><h2><%= recipe["recipeName"] %></h2></div>
      		
          <div>ID: <%= recipe["id"] %></div>		
      		<div>Rating: <%= recipe["rating"] %></div>
          
          <div>Courses:
            <% if recipe["attributes"]["course"] %>
              <% recipe["attributes"]["course"].each do |course |%>
                <%= course %> 
              <% end %> 
            <% end %>        
          </div>
          
          <div>Cuisines: 
            <% if recipe["attributes"]["cuisine"] %>
              <% recipe["attributes"]["cuisine"].each do | cuisine|%>
                <%= cuisine %> 
              <% end %> 
            <% end %>
          </div>

          <% if recipe["flavors"] %>
            <div> Flavor Rating<br/>

              <% if recipe["flavors"]["salty"] %>      
                Salty: <%= recipe["flavors"]["salty"] %> <br/>
              <% end %>


              <% if recipe["flavors"]["sour"] %>      
                Sour: <%= recipe["flavors"]["sour"] %> <br/>
              <% end %>

              <% if recipe["flavors"]["sweet"] %>      
                Sweet: <%= recipe["flavors"]["sweet"] %> <br/>
              <% end %>

              <% if recipe["flavors"]["bitter"] %>      
                Bitter: <%= recipe["flavors"]["bitter"] %> <br/>
              <% end %>

              <% if recipe["flavors"]["piquant"] %>      
                Piquant: <%= recipe["flavors"]["piquant"] %> <br/>
              <% end %>

              <% if recipe["flavors"]["meaty"] %>      
                Meaty: <%= recipe["flavors"]["meaty"] %> <br/>
              <% end %>

            </div>
          <% end %>
          <div>Total Time: <%= recipe["totalTimeInSeconds"] %></div>

          <div>Ingredients<br/>
            <% recipe["ingredients"].each do | ingredient |%>
              <%= ingredient %> <br/>
            <% end %> 
          </div>
          .....

      	<% end %>
      </div>
              
      <%= javascript_tag do %>

      $( document ).ready(function() {

        var $container = $("#recipes-container");
        var $f = $('#test');


        $('.filter_button').on("click", function (event) {
            event.preventDefault();
            $.ajax({
              type: "POST",
              url: "/site/sandbox.json",
              data: {recipes:<%= raw @recipes.to_json %>},
              success: function(recipes)
              {
                $('#recipes-container').empty();

                $.each(recipes, function(index,value){

                  console.log(recipes[0]);
                  });

              },
              dataType: "json"
            });
          });
      });




      <% end %>

</div>       
